body{
    text-align: center;
}
div{
    height: 100px;
    width: 100px;
    display: inline-block;
    border: 2px solid black;
}
#container{
    width: 800px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}
#box1{
    background-color: aqua;
    align-self: self-end;
    flex-shrink: 0.5;
}
#box2{
    background-color: brown;
}
#box3{
    background-color: blue;
}
#box4{
    background-color: blueviolet;
}
#box5{
    background-color: chartreuse;
}

